.component {
    height: 100%;
    width: 100%;
    // background: #181515;
    background: url(../../img/btex.png);
    position: absolute;
    z-index: 9;
    top: 0;
    // clip-path: circle(0% at 100% 0%);
    transform: translateX(100%);
    // pointer-events: none;

    // &_show {
    //     pointer-events: initial;
    // }
}

.backbut {
    width: max-content;
    float: right;
    padding: 16px;
}
.mask {
    // position: absolute;
    // top: 0;
    // height: 200px;
    // width: 200px;
    // background: gainsboro;
}

.svg {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    fill: transparent;
    outline-width: 2px;
    outline: none;
    opacity: 0.66;
    &>g[part=outlined] {
        stroke: wheat;
        stroke-dasharray: 8;
        stroke-width: 4px;
        opacity: 0.4;
    }
}