.component {
    text-align: center;
    background: url(./img/btex.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: transform 1s ease;
    transform: translateX(0%);
    will-change: transform;
    &_main {
        transform: translateX(0)
    }
    &_work {
        transform: translateX(-100%)
    }
    &_about {
        transform: translateX(100%)
    }
}